<div class="jumbotron jumbotron-fluid animated fadeIn fast  mt-0 pt-0">
    <div class="container mt-0 pt-0">
        <div class="row mt-0 pt-0">
            <div class="col-md-2 mt-2 pt-0">
                <img src="assets/img/about.png" width="179px" height="180px" alt="About... ">
            </div>
            <div class="col-md-10 align-middle mt-5 text-center">
                <h1 class="display-4 ">
                    About ngrx-effects
                </h1>
            </div>
        </div>

        <p class="lead mt-3">Esta es un ejercicio hecho bajo el curso
            https://www.udemy.com/course/redux-ngrx-angular
        </p>
        <p>Junio 2020. Mario Arturo Serrano Flores en VS Code.</p>
        <hr class="my-4">
        <p>Temas tratados en este ejercicio con NGRX</p>
        <ul class="list-group">
            <li class="list-group-item">store</li>
            <li class="list-group-item">reducers</li>
            <li class="list-group-item">effects</li>
        </ul>
    </div>
</div>